<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Main Page</title>
    <script src="//cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>
<body ng-app="app" ng-controller="index" ng-init="init()">
<h1>Main Page</h1>
<h3 th:text="'Your name：' + ${info.name}"></h3>
<table>
    <td>name</td>
    <td>msgs</td>
    <td>add(+)/remove(-)</td>
    <tr ng-repeat="user in contacts">
        <td>{{user.name}}</td>
        <td><input type="button" value="---" ng-click="startChart(user)"/></td>
        <td><input type="button" value="{{user.contactFlag?'-':'+'}}"
                   ng-click="updateContact(user.id,user.contactFlag?false:true)"/></td>
    </tr>
</table>
<h3>
    <input ng-model="usernameToSearch"/>
    <input type="button" value="Search" ng-click="search()"/>
</h3>
<table>
    <tr ng-repeat="user in searchResults">
        <td>{{user.name}}</td>
        <td><input type="button" value="---" ng-click="startChart(user)"/></td>
        <td><input type="button" value="{{user.contactFlag?'-':'+'}}"
                   ng-click="updateContact(user.id,user.contactFlag?false:true)"/></td>
    </tr>
</table>
<a href="/logout">Logout</a>
<br/>
</body>
</html>