<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SimpleMsgApp</title>
</head>
<body ng-app="app" ng-controller="register">
<script src="//cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<h1>Register Page</h1>
<table cellspacing="1">
    <tr>
        <td>username：</td>
        <td><input ng-model="name"/></td>
    </tr>
    <tr>
        <td>password：</td>
        <td><input type="password" ng-model="password"/></td>
    </tr>
    <tr>
        <td>password confirm：</td>
        <td><input type="password" ng-model="passwordConfirm"/></td>
    </tr>
</table>
<br/>
<input type="button" value="Submit" ng-click="register()"/>
<br/>
<span style="color:orangered" ng-show="message">{{message}}</span>

</body>
</html>